
body {
    padding: 20px;
    background-image: url('https://i.imgur.com/ls1HSbF.jpeg'); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Bahnschrift SemiBold', sans-serif;
  }  
.ip-address {
    display: block;
    font-size: 10px;
    padding: 3px;
    color: #333; 
    text-align: center;
}

.box-green {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 2px #FF69B4; 
    animation: glow 2s infinite alternate;
    background-color: #FFB6C1;
}

.container {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    box-shadow: 0 0 20px #333; 
    align-item: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h6, label {
    color: #4C4E60; 
}

.centered-textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 360px;
    padding: 10px;
    background: url("https://i.imgur.com/Gkzn6Ps.jpeg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none;
    color: #FFFFFF; 
}

.btn-primary {
    color: #fff;
    background-color: #333; 
    border: 1px solid #000; 
    width: 100%;
    transition: 0.5s ease out;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000; 
    border: 1px solid #fff; 
}

.footer {
    background-color: transparent;
    backdrop-filter: blur(3px);
    padding: 0px;
    text-align: center;
    font-size: 14px;
    color: #4C4E60; 
    margin-top: 35px;
    border-top: 1px solid #ccc; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Animation de bulles */
@keyframes bubble {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.bubble {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 105, 180, 0.7); 
    border-radius: 50%;
    animation: bubble 4s ease-in infinite;
}

/* Différentes bulles */
.bubble:nth-child(2) {
    width: 30px;
    height: 30px;
    animation-duration: 6s;
    animation-delay: 2s;
}

.bubble:nth-child(3) {
    width: 15px;
    height: 15px;
    animation-duration: 5s;
    animation-delay: 4s;
}

.bubble:nth-child(4) {
    width: 25px;
    height: 25px;
    animation-duration: 7s;
    animation-delay: 6s;
}

#theme-toggle {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#theme-toggle img {
    width: 24px;
    height: 24px;
}
video {
            margin: 0 auto;
            width: 100%; / Largeur fixée à 320px /
            height: auto; / Hauteur automatique pour conserver le ratio /
            border-radius: 5px; / Coins arrondis pour la vidéo /
        }
        pre {
            white-space: pre-wrap;
            line-height: 1.2;
            font-size: 12px;
            padding: 10px;
            background-color: #000;
            color: #ccc;
            border-radius: 5px;
        }
